---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Updates" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <div class="post-item">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                {{ post.title | escape }}
            </h3>
            <p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt | truncatewords: 40 | strip_html }}
            {%- endif -%}
            </p>
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
